
<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="keywords" content="Workdun">
    <meta name="description" content="Find & Hire Expert Freelancers. Work with the best freelance talent from around the world on our secure, flexible and cost-effective platform.">
    <meta name="author" content="Oyebade Taiwo comfort">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    

    <link rel="stylesheet" href="{{url_for('static',filename='animate.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'fontawesome/css/all.css')}}">
    <link rel="icon" href="{{url_for('static', filename = 'favicon/favicon-32x32.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <title>{{pagename}}</title>
</head>
<body>
    <div class="container-fluid">
<header>
  <!--first nav-bar-->
{% if session.get('userid') and session.get('user_loggedin')%}
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('home')}}">WORKDUN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('freelancer')}}">Find Freelancers</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About</a>
          </li>
        </ul>  

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark button" type="submit">Search</button>
        </form>

    <div class="dropdown text-end">
          <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
            {% if userdeets %}
            <img src='/static/image/profiles/{{userdeets.user_pix}}' style='width:50px; height:50px; border-radius:50%;'> 
            {% else %}
            <img src='{{url_for('static', filename='image/cat-1.jpg')}}' style='width:50px; height:50px; border-radius:50%;'>
            {% endif %}
          </a>
		
		    <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="/user/profile/">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/profilesetting/">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/postwork/">post job</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/portifolio/">Add Portfolio</a></li>
            
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/signout">Sign out</a></li>
        </ul>
    </div>

      </div>
    </div>
  </nav>
{% endif %}
  <!--end-->
  
  
  <!--second nav-bar-->
  <nav class="navbar navbar-expand-lg bg-body-tertiary mb-3" style='border:2px solid lightgray;'>
    <div class="container-fluid">
  
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Graphics & Design</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Digital Marketing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Writing & Translation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Music & Audio</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Video & Animation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Programming & Tech</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Photography</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">AI Services</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--end-->
</header>

<main>
  <div class='container'>
    <div class='row' style='border:2px solid lightgray;; min-height:100px;'>
    
      <div class='col-md-4' style='padding:20px;'>
        <div class='welcoming'>
          <p class='text-center' style='font-weight:600;'>Welcome {{userdeets.user_fname }}</p>
        </div>
      </div>
    
        <div class='col-md' style='background-color:blueviolet; color:white; padding:20px;'>
          <div class='welcoming2'>
            <h1 class="animate__animated animate__heartBeat">WELCOME TO WORKDUN</h1>
          </div>
        </div>
      
    </div>
    </div>
    
    
    
    <!--start-->
<div class='container'>
  <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
    {% for b in books %}
        <div class="col">
         <img src="/static/image/collections/{{b.subcat_cover}}" class="card-img-top bk m-0" height='250px'>
         <h6 style='color:black;'><b>{{b.subcat_titile}}</b></h6>
         <p class='m-0'><i>{{b.subcategories.cat_name}}</i></p><br>
         <p class='m-0'><a href="/viewdetails/{{b.subcat_id}}" class='btn btn-secondary'>View Details</a></p>
         </div>
    {%endfor%}
  </div>
</div>
<!--end-->
</main>

{% include 'footer.html' %}
<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>
</div>
</body>
</html>
  