<!--footer section-->
<footer class="foot">
    <div class="row mt-3">
      <div class="col-md">
        <div><p class="heading">Categories</p></div>
        <div><p>Business</p></div>
        <div><p>Data</p></div>
        <div><p>Digital Marketing</p></div>
        <div><p>Graphics & Design </p></div>
        <div><p>Lifestyle</p></div>
        <div><p>Music & Audio</p></div>
        <div><p>Photography</p></div>
        <div><p>Sitemap</p></div>
        <div><p>Video & Animation</p></div>
        <div><p> Writing & Translation</p></div>
      </div>
    
      
      <div class="col-md">
        <div><p class="heading">About</p></div>
        <div><p>Press & News</p></div>
        <div><p><a href="/workdun/Privacy-Policy" style='text-decoration:none;color:white;'>Privacy Policy</a></p></div>
        <div><p><a href="/workdun/terms_of_service" style='text-decoration:none;color:white;'>Terms of Service</a></p></div>
      </div>
    
    
    
    <div class="col-md">
      <div><p class="heading">Support</p></div>
        <div><p>Selling on Workdun</p></div>
        <div><p>Buying on Workdun</p></div>
    </div>
  
    <div class="col-md">
      <div><p class="heading">Contact</p></div>
      <a href='https://www.facebook.com/profile.php?id=100079451632564' target="_blank"><img src="{{url_for('static', filename = 'image/facebook.png')}}" alt="Facebook Icon" width="50px" height="50px" class="foot-link"></a>
      <a href="mailto:oyebadetaiwo17@gmail.com" target="_blank"><img src="{{url_for('static', filename = 'image/google.png')}}" alt="Google Icon" width="50px" height="50px" class="foot-link"></a>
      <a href="https://www.linkedin.com/in/oyebade-taiwo-7692b2246" target="_blank"><img src="{{url_for('static', filename = 'image/link.png')}}" alt="Linkdin icon" width="50px" height="50px" class="foot-link"></a>
    </div>
    </div>
    <hr class="mx-5">
    
    <div class="row">
      <div class="col">
    
        <div class="mx-5 pb-3" style="display: flex; justify-content: space-between;">
          <div>
            <h1>Workdun</h1>
          </div>
          <div>
            <p>Copyright © 2023, Workdun.com</p>
          </div>
        </div>
        
      </div>
    </div>
    <a href="#" style="height:50px; width:50px; bottom:10px; text-decoration: none; cursor:pointer; border-radius:5px; background:blueviolet; right:30px; position:fixed;"></a>
    </footer>
  <!--end section-->