<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="keywords" content="Workdun">
    <meta name="description" content="Find & Hire Expert Freelancers. Work with the best freelance talent from around the world on our secure, flexible and cost-effective platform.">
    <meta name="author" content="Oyebade Taiwo comfort">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
          
  <link rel="stylesheet" href="{{url_for('static', filename = 'bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename = 'fontawesome/css/all.css')}}">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="icon" href="{{url_for('static', filename = 'favicon/favicon-32x32.png')}}">
  <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">

    <title>Privacy Policy</title>
    <style>
        .page{
        margin:0px;
        padding:3px;
        }
    </style>
</head>
<body><div>
    
            <header>
                <!--first nav-bar-->
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="{{url_for('home')}}">WORKDUN</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarScroll">
                      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('freelancer')}}">Find Freelancers</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{url_for('job')}}">Find Jobs</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{url_for('about')}}">About</a>
                        </li>
                      </ul>
                      <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark button" type="submit">Search</button>
                      </form>
                    </div>
                  </div>
                </nav>
                <!--end-->
    
    
                <!--second nav-bar-->
                <nav class="navbar navbar-expand-lg bg-body-tertiary mb-3" style='border:2px solid lightgray;'>
                  <div class="container-fluid">
    
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Graphics & Design</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Digital Marketing</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Writing & Translation</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Music & Audio</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Video & Animation</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Programming & Tech</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Photography</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Business</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">AI Services</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </nav>
                <!--end-->
              </header>
    
    <main>       
                <div class='row'>
                    <div class='col mt-5 mb-5' style='max-width:900px; margin:0px auto; padding:40px;'>
                        <h1>Workdun's Privacy Policy</h1>
                        <p class='page'>Welcome to our Privacy Policy.</p><br>
                        <p class='page'>We respect your privacy and are committed to protecting your personal information.</p>
                        
                        <h4>Information Collection</h4>
                        <p class='page'>We may collect personal information such as names, email addresses, and contact details.</p>
                        <p class='page'>We may also collect non-personal information such as browser type, IP address, and operating system.</p>
                        
                        <h4>Use of Information</h4>
                        <p class='page'>We use the collected information to provide and improve our services.</p>
                        <p class='page'>Personal information may be used to communicate with you, respond to inquiries, or personalize user experience.</p>
                        
                        <h4>Information Sharing</h4>
                        <p class='page'>We do not sell, trade, or rent your personal information to third parties.</p>
                        <p class='page'>We may share your information with trusted third parties for specific purposes such as shipping or payment processing.</p>
                        
                        <h4>Cookies and Tracking Technologies</h4>
                        <p class='page'>We use cookies and similar tracking technologies to enhance your browsing experience.</p>
                        <p class='page'>You can control cookie preferences through your browser settings.</p>
                        
                        <h4>Data Security</h4>
                        <p class='page'>We implement security measures to protect your personal information from unauthorized access or disclosure.</p>
                        <p class='page'>However, please note that no method of transmission over the internet is completely secure.</p>
                        
                        <h4>Third-Party Links</h4>
                        <p class='page'>Our website may contain links to third-party websites. Please note that we are not responsible for their privacy practices.</p>
                        <p class='page'>We encourage you to review the privacy policies of those websites.</p>
                        
                        <h4>Children's Privacy</h4>
                        <p class='page'>Our services are not intended for individuals under the age of 13.</p>
                        <p class='page'>We do not knowingly collect personal information from children.</p>
                        
                        <h4>Updates to the Privacy Policy</h4>
                        <p class='page'>We may update our Privacy Policy from time to time. Any changes will be posted on this page.</p>
                
                        <h4>Contact Information</h4>
                        <p class='page'>If you have any questions or concerns regarding our Privacy Policy, please contact us at <a href="mailto:oyebadetaiwo17@gmail.com">Email</a>.</p>
                    </div> 
                </div>
    </main>
    {% include 'footer.html'%}
</div>
</body>
</html>
