<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="keywords" content="Workdun">
    <meta name="description" content="Find & Hire Expert Freelancers. Work with the best freelance talent from around the world on our secure, flexible and cost-effective platform.">
    <meta name="author" content="Oyebade Taiwo comfort">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
          
  <link rel="stylesheet" href="{{url_for('static', filename = 'bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename = 'fontawesome/css/all.css')}}">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="icon" href="{{url_for('static', filename = 'favicon/favicon-32x32.png')}}">
  <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">

    <title>Workdun Terms of Service</title>
    <style>
        .page{
        margin:0px;
        padding:3px;
        }
    </style>
</head>
<body><div>
    
            <header>
                <!--first nav-bar-->
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="{{url_for('home')}}">WORKDUN</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarScroll">
                      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('freelancer')}}">Find Freelancers</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{url_for('job')}}">Find Jobs</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{url_for('about')}}">About</a>
                        </li>
                      </ul>
                      <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark button" type="submit">Search</button>
                      </form>
                      
                    </div>
                  </div>
                </nav>
                <!--end-->
    
    
                <!--second nav-bar-->
                <nav class="navbar navbar-expand-lg bg-body-tertiary mb-3" style='border:2px solid lightgray;'>
                  <div class="container-fluid">
    
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Graphics & Design</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Digital Marketing</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Writing & Translation</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Music & Audio</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Video & Animation</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Programming & Tech</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Photography</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Business</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">AI Services</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </nav>
                <!--end-->
              </header>
    
    <main>       
                <div class='row'>
                    <div class='col mt-5 mb-5' style='border:1px solid lightgray; border-radius:5px; max-width:900px; margin:0px auto; padding:40px;'>
                        <h1>Workdun Terms of Service</h1>
                        <p class='page'>Welcome to Workdun.com.</p>
                        <p class='page'>This Terms of Service Agreement is a legal contract between users and Workdun, governing your use of Workdun website and any associated services or features (collectively referred to as the "Service"). By accessing or using the Service, you agree to be bound by the terms and conditions outlined in this Agreement.</p>
                        <h3>Acceptance of Terms</h3>
                        <p class='page'>By using the Service, you acknowledge that you have read, understood, and agree to be bound by this Agreement and any additional terms and conditions that may apply. If you do not agree to these terms, you should not access or use the Service.</p>
                        <h3>Use of the Service</h3>
                        <ol type="a">
                            <li>
                                <h5>Eligibility</h5>
                                <p class='page'>You must be at least [18] years old to use the Service. By using the Service, you represent and warrant that you are of legal age to enter into this Agreement.</p>
                            </li>
                            <li>
                                <h5>User Accounts</h5>
                                <p class='page'>To access certain features of the Service, you may be required to create a user account. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.</p>
                            </li>
                            <li>
                                <h5>Prohibited Activities</h5>
                                <p class='page'>You agree not to engage in any activity that violates applicable laws, infringes upon the rights of others, or interferes with the operation of the Service. Prohibited activities include, but are not limited to, the following:</p>
                                <ul>
                                    <li>Scamming</li>
                                    <li>Late delivering</li>
                                </ul>
                            </li>
                        </ol>
                        <h3>Intellectual Property Rights</h3>
                        <ol type="a">
                            <li>
                                <h5>Ownership</h5>
                                <p class='page'>The Service, including all content, features, and functionality, is owned by the Company or its licensors and is protected by intellectual property laws. You acknowledge that the Company retains all rights, title, and interest in the Service.</p>
                            </li>
                            <li>
                                <h5>User Content</h5>
                                <p class='page'>By submitting or posting any content on the Service, you grant the Company a worldwide, non-exclusive, royalty-free, transferable license to use, reproduce, modify, adapt, publish, distribute, and display the content for the purpose of providing the Service.</p>
                            </li>
                            <li>
                                <h5>Copyright Infringement</h5>
                                <p class='page'>The Company respects the intellectual property rights of others and expects users to do the same. If you believe that any content on the Service infringes your copyrights, please contact us with the necessary information.</p>
                            </li>
                        </ol>
                    </div>
                </div>
    </main>
    {% include 'footer.html'%}
</div>
</body>
</html>
